<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h2>About Us</h2>
        <p>
          Welcome to the Health Tracker App! We are a dedicated team of health enthusiasts who are passionate about
          helping individuals track their health and achieve their fitness goals.
        </p>
        <p>
          Our app allows users to easily monitor their daily activities, such as walking distance, and provides
          insights and reports to help them stay on track with their health goals. With our user-friendly interface and
          comprehensive tracking features, we strive to make it easy for our users to lead a healthy and active
          lifestyle.
        </p>
        <p>
          If you have any questions or feedback, please feel free to contact us. We're here to help you on your journey
          towards better health and wellness!
        </p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
<router-outlet></router-outlet>