<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <h4>Our Services</h4>
                <p>
                    We offer a range of services to help you achieve your health and fitness goals:
                </p>
                <ul>
                    <li>
                        <h5>Activity Tracking</h5>
                        <p>
                            Our app allows you to easily track your daily activities, such as walking distance, steps,
                            and calories
                            burned, so you can monitor your progress and stay motivated.
                        </p>
                    </li>
                    <li>
                        <h5>Goal Setting</h5>
                        <p>
                            Set your fitness goals, such as daily steps target or distance to be covered, and our app
                            will help you
                            stay on track and achieve your goals with regular progress updates.
                        </p>
                    </li>
                    <li>
                        <h5>Insights and Reports</h5>
                        <p>
                            Get valuable insights and reports on your health and fitness activities, such as daily,
                            weekly, and monthly summaries.
                        </p>
                    </li>
                    <li>
                        <h5>User Management</h5>
                        <p>
                            As an admin, you can easily manage user accounts through CRUD operations.
                            Add, edit, or delete user details to keep your user database up-to-date and secure.
                        </p>
                    </li>
                    <li>
                        <h5>Email Notifications</h5>
                        <p>
                            Our app automatically sends email notifications to the top 10 users who achieve their daily
                            goals, to
                            appreciate and encourage their progress.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
<router-outlet></router-outlet>